/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: montserrat, sans-serif;
  background-color: #becfbc;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  width: 300px;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  font-family: montserrat, sans-serif;
}

input {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 0.7rem;
  background-color:#6fa769;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  font-family: montserrat, sans-serif;
}

button:hover {
  background-color: #becfbc;
}


.login-container h2 {
  text-align: center;
  margin-bottom: 0.5rem;
}

.info-text {
  font-size: 0.9rem;
  font-family: montserrat, sans-serif;
  color: #555;
  margin-bottom: 1.5rem;
  text-align: center;
  line-height: 1.4;
}
